<div *ngIf="isLoading">
  <app-spinner-large></app-spinner-large>
</div>
<div class="container">

</div>
<div class="form"  *ngIf="!isLoading">
  <div class="thumbnail">
    <img src="../../../../assets/images/logo_150.png" /></div>

  <form class="login-form">
    <input type="text" placeholder="User Name" [(ngModel)]="UserName" name="UserName" id="UserName" />
    <input type="password" placeholder="Password" [(ngModel)]="Password" name="Password" id="Password" />
    <button (click)="validateUser()" type="button">login</button>
    <!--<button (click)="loginWithWindowsUser()" type="button">Windows User</button>-->
    <p class="text-danger">{{message}}</p>
    <p class="message">Developed by Tharindu @ HNBA IT Dept.</p>
  </form>
</div>